<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content=""/>
        <title>Tech talks</title>
        <link rel='icon' href='/css/img/favicon.ico' type='image/x-icon' />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/common.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/common.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
            {% include "./blocks/header.html" %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "./blocks/footer.html" %}
    </body>
</html>
