<div id="chat">
    <div class="messages-wrap">
        <ul class="messages">
            <li class="msg msg-tpl">
                <img class="user-pic-30 img-circle" src="http://placehold.it/30x30" alt=""/>
                <div class="msg-body">
                    <div class="msg-username">Anton</div>
                    <div class="msg-content">Hi losers!</div>
                    <div class="msg-date">1 Dec 2013, 10:31</div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <textarea name="" id="" cols="30" rows="10" placeholder="What do you think?"></textarea>
    </div>
</div>